<div class="flex-column">
    <div *ngFor="let k of formData; let x = index">
        <div class="flex-row jc-ai-c">
            <span class="material-symbols-outlined">
                {{k.log}}
            </span>  
            <span> {{k.name}}</span>
        </div>
        <table>
            <thead>
                <tr>
                    <th *ngFor="let a of tableHeads">{{a}}</th>
                </tr>
            </thead>
            <tbody *ngFor="let a of k.rows;let i=index">
                <tr>
                    <td>
                        <input type="text" name="amount{{i}}" placeholder="₹ Enter amount..."
                            (keydown)="onKeyDown($event, x)" [(ngModel)]="a.amount">
                    </td>
                    <td>
                        <input type="date" name="date{{i}}" [(ngModel)]="a.date">
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">Enter Pos</option>
                        </select>
                    </td>
                    <td>
                        <input name="payment_info{{i}}" type="text" placeholder="Enter card details..."
                            [(ngModel)]="a.payment_info">
                    </td>
                    <td *ngIf="i>=1">
                        <span (click)="delete_arry(i,x)" class="material-symbols-outlined">
                            delete
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="add-new" (click)="add_new(x)">
            +Add(Shift+Enter)
        </div>
    </div>
    <div>
        <button (click)="submit()">Submit</button>
    </div>
    <div>
        {{showMessage}}
    </div>
</div>